<ion-nav-bar class="bar-assertive" style="background-color: #B71C1C;" align-title="center" >
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        About Us
    </ion-nav-title>
</ion-nav-bar>
<ion-view>
    <ion-content class="has-header" style="background: url(img/bg.jpg) center; background-size: cover;">
        <div class="hero has-mask ">
            <div class="content" align="center" style="padding:20px;">
                <h3 style="padding-top:40px; padding-bottom:20px;"><a class="light">Aafiyat2U</a></h3>
                <h4 class="light">About Us</h4>
            </div>
        </div>
    </ion-content>
    <!-- <div style="position: absolute; bottom: 0px; width: 100%">
        <div style="text-align: center">
          <h4 class="light">&copy;Copyright 
          <h4 class="light">DynaSegmen Sdn Bhd | 2016</h4>
          <h4 class="light">Consurv Technic (M) Sdn Bhd | 2016</h4>
        </div>
	</div> -->
</ion-view>